# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
jobs:
  test-linux:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - run: 
          name: "make"
          command: "make clean check"
  test-mac:
    macos:
      xcode: 11.3.0
    steps:
      - checkout
      - run: 
          name: "make"
          command: "make clean check"
workflows:
  build:
    jobs:
      - test-linux
      - test-mac
